<nav>
    <ul>
        <li>
            <a href = '/'> Home</a>
        </li>
        <li>
            <a href = '/formpage'> Formpage</a>            
        </li>
        <li>
            <a href = '/contact'> Contacts</a>
        </li>
        <li>
            <a href = '/finder'> Finder</a>
        </li>
        <li>
            <a href = '/deleter'> Deleter</a>
        </li>
    </ul>
</nav>