<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>finder</title>
    <link href = '/assets/style.css' rel = 'stylesheet' type = 'text/css' />
</head>
<body>
    <form method = 'post' action = '/finder'>
        Name of book:<input type = 'text' name = 'name' placeholder="find author of book name" required />
        
    </form>
    author: 
    <% if (typeof data !== 'undefined') { %>
        <%= data %>
      <% } %>

    
</body>
</html>