<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form page</title>
</head>
<body>
    <%- include ("./partials/navbar") %>
    <form method = 'post' action = '/formpage'>
        Name of book:<input type = 'text' name = 'name' placeholder="add name" required />
        Author:<input type = 'text' name = 'author' placeholder="add author" required />     
        <button type = 'submit'> Add item</button>
    </form>
    
</body>
</html>